<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:p="http://www.springframework.org/schema/p"
      xmlns:aop="http://www.springframework.org/schema/aop"
      xmlns:context="http://www.springframework.org/schema/context"
      xmlns:jee="http://www.springframework.org/schema/jee"
      xmlns:tx="http://www.springframework.org/schema/tx"
      xmlns:jaxws="http://cxf.apache.org/jaxws"
      xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd">

    <!-- spring自动扫包 -->
    <context:component-scan base-package="com.cx.service"/>
    <!-- 导入jar包中的cxf配置文件。这里不用写，是写好的放在jar包里，直接引入即可。 -->
    <!--<import resource="classpath:META-INF/cxf/cxf.xml"/>-->
    <!--<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>-->


    <!-- 要暴露给外部调用的接口，address:请求路径 implementor:实现类的bean，可写路径，或者直接注入bean-->
    <!--<jaxws:endpoint implementor="com.cx.service.impl.WeatherServiceImpl" address="/WeatherService">-->
    <!--基于soap协议-->
    <!--  基于soap协议 方式一  -->
    <jaxws:endpoint implementor="#weatherServiceImpl" address="/WeatherService">
        <jaxws:inInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
        </jaxws:inInterceptors>
        <!-- 添加out拦截器 -->
        <jaxws:outInterceptors>
            <bean class="org.apache.cxf.interceptor.LoggingInInterceptor" />
        </jaxws:outInterceptors>
    </jaxws:endpoint>
    <!--  基于soap协议 方式二   -->
    <!--<jaxws:server address="/WeatherService" serviceClass="com.cx.service.WeatherService" serviceBean="#weatherServiceImpl">-->
    <!--</jaxws:server>-->


    <!--RESTful-->

</beans>
