<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jaxws="http://cxf.apache.org/jaxws"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xsi:schemaLocation="
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://cxf.apache.org/jaxws
        http://cxf.apache.org/schemas/jaxws.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd">

    <!-- spring自动扫包 -->
    <!--<context:component-scan base-package="com.cx.service"/>-->
    <!-- 导入jar包中的cxf配置文件。这里不用写，是写好的放在jar包里，直接引入即可。 -->
    <!--<import resource="classpath:META-INF/cxf/cxf.xml"/>-->
    <!--<import resource="classpath:META-INF/cxf/cxf-servlet.xml"/>-->



    <!--<jaxws:server address="/WeatherService" serviceClass="com.cx.service.WeatherService" serviceBean="#weatherServiceImpl">-->
    <!--</jaxws:server>-->

<!--serviceClass="com.cx.service.WeatherService"-->
    <!--RESTful-->
    <bean id="weatherServiceImpl"  class="com.cx.service.impl.WeatherServiceImpl"/>

    <jaxrs:server address="/"  >
        <jaxrs:serviceBeans>
            <ref bean="weatherServiceImpl"/>
        </jaxrs:serviceBeans>
        <!--支持的协议-->
        <jaxrs:extensionMappings>
            <entry key="json" value="application/json"/>
            <entry key="xml" value="application/xml" />
            <entry key="text" value="text/plain" />
        </jaxrs:extensionMappings>
    </jaxrs:server>

    <!--访问路径   http://localhost:8081/cxf/ws/getPerson/2  -->
</beans>
